* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #ffffff;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}